


/*=====================================================================//
    General
//=====================================================================*/

/* margin padding reset */
body, div, p,  ul, ol, li, dl, dt, dd, table, th ,td, img, figure,
h1, h2, h3 ,h4 ,h5, h6, form, select
{margin: 0;padding: 0;}

html
{-webkit-text-size-adjust: 100%;}

html {
    font-size: 14px;
    font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
    color: #222;
}

body
{ -webkit-font-smoothing: antialiased; }

/* remove list point mark */
ul, ol
{ list-style: none; }

/* remove border & off descender */
img
{ border: 0; vertical-align: middle; }

/* remove descender */
svg, input, select, textarea, label
{ vertical-align: middle; }

/* set collapse */
table
{ border-collapse: collapse; }

/* break word for all elements */
*, *:before, *:after
{word-break: break-all;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

pre
{ white-space: pre-wrap; }

address
{ font-style: normal; }

p
{ line-height: 1.5; }

a {
    color: #222;
    text-decoration: none;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

img {
  border: 0;
  vertical-align: middle;
}

aside {
  width: 20%;
  min-width: 250px;
  display: block;
  flex-direction: column;
}

ul, ol {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a > span:last-child {
  font-size: 10px;
}

p {
  line-height: 1.5;
}








/*====== Header ======*/

.master-header {
  width: 100%;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-logo > .header-logo-pc {
    width: auto;
    height: 20px;
}

.header-logo > .header-logo-sp {
    display: none;
}

.site-header .header-container > *:last-child {
    display: inline-flex;
}

.header-nav-list.contents-arrange {
    align-items: center;
}

.header-nav-hamburger {
    display: none;
}

.header-nav .header-nav-item {
    display: block;
}

.header-nav .header-nav-item > span:first-child {
    font-family: 'Lato', sans-serif;
}

.header-nav .header-nav-item > span {
    display: block;
    font-weight: bold;
    text-align: center;
}

.header-nav .header-nav-item > span:last-child {
    font-size: 10px;
}

.header-nav .header-nav-list > li + li {
    margin-left: 30px;
}

.header-nav-list > li + li:last-child {
    margin-left: 20px;
}

.header-button {
    width: 150px;
}

.link-button.menu {
    height: 40px;
    font-size: 12px;
}

.hover-opacity {
  transition: opacity 0.2s;
}

.link-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #f79314;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 60px;
  font-size: 15px;
  border: none;
}

.vertical-header-liner {
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.contents-arrange {
  display: flex;
  justify-content: space-between;
}









/*====== Contents ======*/

/*////// 1 Top Section //////*/

.main-container {
  display: flex;
}

.section-top {
  padding-top: 200px;
  padding-bottom: 30px;
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/top-hero.png);
  background-size: auto 100%;
  background-position: right 0;
  background-repeat: no-repeat;
}

.top-section-box {
  position: relative;
  max-width: 337px;
}

.top-section-box > * + * {
  margin-top: 30px;
}

.content-width {
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.top-section-box .top-title > img {
  width: 100%;
  height: auto;
}

.top-section-box .top-texts {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.7
}

.top-section-box .top-texts > span {
    color: #f79314;
}

.link-button.no-subtitle {
    font-size: 16px;
}

.hover-opacity{
  transition: opacity(50%) 0.2s;
}

.top-section-box .No1-notation {
  margin: 0;
  position: absolute;
  top: 0;
  right: -170px;
}

.top-section-box .No1-notation img {
    width: 154px;
    height: 154px;
}

.section-top .proviso {
  color: #888;
  font-size: 10px;
  max-width: 512px;
  padding-top: 132px;
}








/*////// 2 POTEPAN とは //////*/

.main-section.top-about {
    background-color: #f79314;
    padding-top: 45px;
}
.main-section {
    padding-top: 75px;
    padding-bottom: 80px;
}

.top-about .contents-arrange {
  align-items: center;
}

.discount-for-students {
  width: 100%;
  margin-bottom: 50px;
}

.discount-for-students-sp {
  display: none;
}

.detail-text{
  color: #fff;
  width: 53%;
}

.detail-text h2 > span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.detail-text .about-POTEPAN {
    font-size: 40px;
    letter-spacing: 1px;
}

.detail-text p {
    font-weight: 700;
    margin-top: 15px;
    line-height: 2.3;
}

.top-detail-button {
  width: 320px;
}

.pc-dn {
  display: none !important;
}

.link-button.inversion {
    color: #f79314;
    background-color: #fff;
    margin-right: 10px;
}

.link-button span:first-child {
    letter-spacing: 4px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

.link-button span:last-child {
    font-size: 14px;
}






/*////// 2.5 Video //////*/

.section-header {
  width: 100%;
}

.content-width > .bottom-line:after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
}

.section-main-heading {
    font-size: 46px;
    font-weight: bold;
}

.section-sub-heading {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.main-section .section-header + .section-content {
    margin-top: 60px;
}

.section-movie-pc {
    text-align: center;
}

.section-movie-sp {
    display: none;
}






/*////// 3 POTEPAN CAMPの特徴 //////*/


/* 1 豊富な転職実績 */
.section-sub-heading > span {
    font-family: 'Lato', sans-serif;
}

.desc-list.list-number {
  margin-top: 110px;
}

.desc-list > li {
  background-color: #fcfaf5;
  border-radius: 20px;
  text-align: center;
  padding: 40px;
}

.list-no {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -90px auto 0 auto;
    background-color: #fcfaf5;
    border-radius: 50%;
    color: #f79314;
    font-weight: bold;
    font-size: 40px;
}

.desc-list .list-title {
    font-weight: bold;
    font-size: 30px;
    margin-top: -20px;
    letter-spacing: 1px;
}

.desc-list .list-text {
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 1.5px;
    font-weight: 500;
    line-height: 2;
}

.desc-list .example-title {
    display: inline-block;
}

.example-title-heading {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    vertical-align: bottom;
    line-height: 1;
}

.desc-list .example-title img {
    margin-left: 10px;
    width: 34px;
    height: auto;
}

.desc-list .example-title::after {
    content: '';
    display: block;
    border-bottom: solid 4px #f79314;
    margin-top: 10px;
}

.example-contents.contents-arrange {
    flex-wrap: wrap;
}

.desc-list .example-contents {
    margin-top: 15px;
}

.desc-list .example-contents > li {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
}

.desc-list .example-contents img {
    width: 100%;
    height: auto;
}



/* 2 多くの受講者受入実績 */

.desc-list > li + li {
    margin-top: 90px;
}

.desc-list .example.performance {
    padding: 40px 70px;
}

.desc-list .list-text span {
    color: #f79314;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    line-height: 1;
}

.desc-list .example {
    background-color: #fff;
    width: 100%;
    margin-top: 40px;
    border-radius: 20px;
    padding: 30px;
}

.desc-list .example-list {
    margin: 0 -60px;
}

.desc-list .example-list > li {
    padding: 0 60px;
    width: calc(100% / 3);
    display: flex;
}

.desc-list .example-list img {
    width: 100%;
    height: -webkit-fill-available;
}



/* 3 現役エンジニアが講師 */

.engineer-list {
    margin-top: 45px;
    margin-left: -15px;
    margin-right: -15px;
}

.engineer-list .engineer-box {
    background-color: #fff;
    border-radius: 15px;
    margin: 0 15px;
    width: calc(100% / 3);
}

.engineer-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding: 20px;
}

.engineer-conpany-logo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.engineer-profile {
    display: flex;
    align-items: center;
    width: 100%;
}

.engineer-text {
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: left;
}

.engineer-conpany-logo > img {
    width: 100%;
}

.engineer-name.contents-arrange {
    flex-direction: column;
}

.engineer-name {
    align-items: flex-start;
    margin-left: 15px;
    font-size: 20px;
}

.engineer-name > span {
    color: #f79314;
    font-size: 14px;
}

.engineer-text::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 29px;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #f6f6f6;
}

#jsi-engineer-list > button {
  display: none;
}






/*////// 4 POTEPAN CAMPの選べるコース //////*/

.main-section.top-potepan {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #f6f6f6;
}

.main-section.top-potepan > * {
    position: relative;
    z-index: 1;
}

.top-potepan .content-width {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/bg-section-top-course.png);
    background-size: 281px 275px;
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) top;
    padding-top: 35px;
}

.section-header.bottom-line::after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
}

.section-header.contents-arrange {
    flex-direction: column;
    align-items: center;
}

.course-media {
    font-weight: bold;
    padding: 30px;
    background-color: #fff;
}

.course-media.receptive .course-title {
    border-image: linear-gradient(to right, #ff6d00 0%, #f79214 100%);
    border-image-slice: 1;
}

.course-media.career .course-title {
    border-image: linear-gradient(to right, #f79214 0%, #f74e06 100%);
    border-image-slice: 1;
}

.course-title.contents-arrange {
    justify-content: center;
    align-items: center;
}

.course-title {
    width: 30%;
    margin-left: -50px;
    margin-right: 30px;
    border: solid 3px;
}

.course-title > .h3-1 {
    font-size: 24px;
    text-align: center;
}

.course-contents {
    width: calc(70% + 30px);
    position: relative;
}

.course-media.receptive .course-text {
    color: #f79314;
}

.course-media.career .course-text {
    color: #f75307;
}

.course-text {
    font-size: 16px;
    line-height: 1;
}

.course-contents > div {
    margin-top: 20px;
}

.course-contents > div p {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background: linear-gradient(90deg, #212121, #444);
    padding: 2px 20px;
    border-radius: 20px;
}

.conditions-list {
    margin-top: 7px;
    padding-bottom: 20px;
}

.list-marker {
    margin-left: 1.9em;
    text-indent: -1.9em;
}

.list-marker::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #f79214;
    margin: 0 10px;
}

.course-link {
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 12px;
    color: #999;
}

.course-link::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 4px;
    right: -18px;
    border-right: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(45deg);
}

.section-button {
    margin-top: 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.link-button span:first-child {
    letter-spacing: 4px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

.link-button span:last-child {
    font-size: 14px;
}

a:hover .hover-text-color, .hover-text-color:hover {
    color: #f79314;
  }






/*////// 5 サービスの想い - ポテパンのプログラミング学習についてかける想い- //////*/

.message-title {
    display: inline-block;
    font-size: 50px;
    color: #ff802c;
    background: -webkit-linear-gradient(0deg, #ff802c, #f79214);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    letter-spacing: 3px;
    position: relative;
    z-index: 1;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.message-contents.contents-arrange {
    align-items: center;
}

.message-text {
    background-color: #fff;
    padding: 40px 150px 40px 40px;
    margin-right: -100px;
}

.message-text p {
    line-height: 2;
    font-weight: 500;
}

.message-text p + p {
    margin-top: 40px;
}

.message-thumbnail {
    position: relative;
}

.message-thumbnail p {
    position: absolute;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 10px #808080;
}

.message-thumbnail p span {
    font-size: 24px;
}






/*////// 6 受講生の声 //////*/

.interview-list {
    margin-left: -20px;
    margin-right: -20px;
}

.interview-list > li {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% / 3);
}

.interview-media .interview-media-thumbnail {
    position: relative;
    padding-top: 100%;
}

.interview-media .interview-media-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.interview-media .interview-thumbnail-titlebox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 80px 20px 15px;
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
}

.interview-media .interview-thumbnail-titlebox .interview-thumbnail-title {
    font-size: 16px;
    font-weight: bold;
    color: #f79314;
}

.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
    padding-top: 4px;
    border-top: 1px solid #fff;
}

.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle .name {
    font-size: 20px;
}

.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle > *:last-child {
    font-size: 12px;
    margin-left: 15px;
}

p.interview-thumbnail-subtitle > span {
  color: white;
}

.interview-media .interview-media-text {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    line-height: 1.8;
}






/*////// 7 POTEPANが運用するサービス //////*/

.service-list {
    margin-right: -20px;
    margin-left: -20px;
}

.service-list > li {
    padding-right: 20px;
    padding-left: 20px;
    width: calc(100% / 3);
}

.service-media-thumbnail.red {
    border-color: #fc6803;
}

.service-media-text {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
}

.service-media-thumbnail {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: solid 2px;
    border-radius: 10px;
    padding: 0 20px;
    height: 190px;
    box-sizing: border-box;
}

.service-media-thumbnail img {
    width: 100%;
    height: auto;
}

.service-media-thumbnail.green {
    border-color: #08af77;
}

.service-media-thumbnail.black {
    border-color: #000;
}

















/*====== Footer ======*/

.site-footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #f79314;
}

.page-top-button.contents-arrange {
    align-items: center;
    justify-content: center;
}

.page-top-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -105px;
    right: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 12px 30px -15px;
    transition: 0.2s;
}

.page-top-arrow {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-left: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(45deg);
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.site-footer-main .footer-nav {
    order: 2;
}

.footer-nav > li + li {
    margin-top: 30px;
}

.footer-nav-item:link, .footer-nav-item:visited {
    color: #fff;
}

.footer-nav-item > span {
    font-weight: normal;
    margin-left: 1em;
}

.site-footer-main .footer-character {
    order: 3;
    align-self: flex-end;
}

.footer-character > img {
    width: auto;
    height: 70px;
}

.site-footer-main .footer-info {
    order: 1;
}

.footer-info {
    display: block;
    color: #fff;
}

address {
    font-style: normal;
}

.footer-info .footer-logo {
    display: inline-block;
    max-width: 280px;
}

.footer-info .footer-logo > img {
    width: 100%;
    height: auto;
}

.footer-info .footer-logo + .footer-company {
    margin-top: 25px;
}

.footer-info .footer-company, .footer-info .footer-address {
    font-size: 16px;
    font-weight: bold;
}

.footer-info .footer-company + .footer-address {
    margin-top: 10px;
}

.footer-info .footer-address + .footer-social {
    margin-top: 35px;
}

.footer-info .footer-social {
    display: flex;
}

.footer-info .footer-social > li + li {
    margin-left: 20px;
}

.footer-info .footer-social-item {
    display: block;
    max-width: 60px;
}

.footer-info .footer-social-item > img {
    width: 100%;
    height: auto;
}

.footer-copyright {
    color: #fff;
    font-size: 12px;
}



































/*=====================================================================//
    Resposive Assistant 
//=====================================================================*/

@media screen and (max-width: 1080px) {
  
  
  /*////// General //////*/
  
  aside {
    display: block;
  }
  
  body, nav, aside {
    width: 100%;
  }
  
  main {
    order: -1;
    width: 100%;
  }
  
  
  /*////// Header //////*/
  
  .master-header {
    position: fixed;
    background-color: #fff;
    z-index: 10;
    width: 100%;
  }
  
  .header-nav .header-nav-hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
  }
  
  .vartical-header-liner {
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 0;
  margin-right: auto;
  position: relative;
  }
  
  .header-nav .header-nav-hamburger-line:first-child {
    top: 0;
  }
  
  .header-nav .header-nav-hamburger-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
  }
  
  .header-nav .header-nav-hamburger-line:last-child {
    top: 100%;
  }
  
  .header-nav .header-nav-list {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform 0.5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-overflow-scrolling: touch;
  }
  
  .header-nav .header-nav-item {
    padding: 20px 0;
  }
  
  .header-nav .header-nav-item > span:first-child {
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
  }
  
  .header-nav .header-nav-item > span:last-child {
    font-size: 12px;
    margin-top: 10px;
    color: #f79314;
    letter-spacing: 2px;
  }
  
  .header-nav .header-nav-list > li + li {
    margin-left: 0;
  }
  
  .header-nav-list > li + li:last-child {
    margin-left: 0;
  }
  
  .title-img {
  width: 136px;
  height: 15px;
  }
  
  
  
  
  
  
  /*////// Contents //////*/
  
  .top-section-box .top-title > img {
    width: 80%;
    height: auto;
  }
  
  .top-section-box > * + * {
    margin-top: 8%;
  }
  
  .top-section-box .No1-notation {
    top: -135px;
    right: 0;
    left: -10px;
  }
  
  .top-section-box .No1-notation img {
    width: 120px;
    height: 120px
  }
  
  .top-about-content {
    flex-direction: column;
    /*width: 100%;*/
  }
  
  .proviso > p {
    background-color: rgba(255, 255, 255, .3);
    color: #000;
    padding: 4px;
  }
  
  .detail-text, .top-detail-button {
    width: 100%;
  }
  
  .list-text .sp-dn {
    display: none;
  }
  
  .desc-list .example.performance {
    padding: 30px;
  }
  
  .detail-text + .top-detail-button {
    margin-top: 40px;
    width: 250px;
  }
  
  .desc-list .example-contents > li {
    padding-left: 10px;
    padding-right: 10px;
  }
 
  div > header {
   background-color: rgba(255, 255, 255, 0);
  }
  
  .message-title {
    font-size: 32px;
    background: -webkit-linear-gradient(0deg, #ff802c, #f79214);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .message-contents {
    flex-direction: column;
    position: relative;
    background-color: #fff;
    padding: 45px 40px 40px;
  }
  
  .message-text {
    padding: 0;
    margin-right: 0;
    margin-top: 30px;
    order: 2;
  }
  
  .message-thumbnail {
    order: 1;
  }
  
  .message-thumbnail > img {
    width: 100%;
  }
  
  .interview-list {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 160px;
    padding-right: 160px;
  }
  
  .interview-list > li {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  
  .interview-list > li + li {
    margin-top: 20px;
    padding-top: 30px;
    border-top: solid 1px #efefef;
  }
  
}










@media screen and (max-width: 767px) {
  
  .vertical-content-liner {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .content-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .master-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .header-logo > .header-logo-pc {
    display: none;
  }
  
  .header-logo > .header-logo-sp {
    display: inline-block;
    width: auto;
    height: 16px;
  }
  
  .header-nav .header-nav-list {
    top: 52px;
  }
  
  .section-top {
    padding-top: 258px;
    padding-bottom: 12px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/top-hero-sp.png);
  }
  
  .section-top .proviso {
    padding-top: 24px;
  }
  
   .proviso > p {
    background-color: inherit;
    color: inherit;
    padding: none;
  }
    
  .top-section-box {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }  
  
  .top-section-box > * + * {
    margin-top: 20px;
  } 
    
  .top-section-box .top-texts {
    font-size: 15px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  }
  
  .No1-notation > img {
    width: 120px;
    height: 120px
  }

  .detail-text .about-POTEPAN {
    font-size: 26px;
    text-align: center;
  }
  
  .detail-text h2 > span {
    font-size: 30px;
  }
    
  .pc-dn {
    display: block !important;
  }
  
  .link-button {
    font-size: 20px;
  }
  
  
  
  
  
  /*////// 2 POTEPAN とは //////*/
  
  .main-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .discount-for-students-pc {
    display: none;
  }
  
  .discount-for-students-sp {
    display: block;
    margin: 0 0 50px 5px;
  }
  
  
  
  
  
  /*////// 2.5 Video //////*/
  
  .section-main-heading {
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
  }
  
  .section-sub-heading {
    font-size: 14px;
  }
  
  .section-movie-pc {
    display: none;
  }
  
  .section-movie-sp {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: -50px;
    align-items: center;
  }
  
  /*.section-movie-sp::before {*/
  /*  content: "";*/
  /*  display: block;*/
  /*  padding-top: 56%;*/
  /*}*/
  
  
  
  
  
  /*////// 3 POTEPAN CAMPの特徴 //////*/
  
  .desc-list .list-no {
    margin-top: -70px;
    width: 80px;
    height: 80px;
    font-size: 30px;
  }
  
  .main-section .section-header + .section-content {
    margin-top: 50px;
  }
  
  .desc-list.list-number {
    margin-top: 90px;
  }
  
  .desc-list > li {
    padding: 30px 20px 20px 20px;
  }
  
  .desc-list .list-no {
    margin-top: -70px;
    width: 80px;
    height: 80px;
    font-size: 30px;
  }
  
  .desc-list .list-title {
    font-size: 20px;
    margin-top: -10px;
  }
  
  .desc-list .list-text {
    font-size: 15px;
    text-align: left;
    line-height: 2.2;
  }
  
  .sp-dn {
    display: none !important;
  }
  
  .desc-list .example {
    padding: 20px;
  }
  
  .example-title-heading {
    font-size: 16px;
  }
  
  .desc-list .example-title img {
    margin-left: 5px;
    width: 24px;
  }
  
  .desc-list .example-title::after {
    margin-top: 5px;
    border-bottom: solid 2px #f79314;
  }
  
  .desc-list .example-contents > li {
    width: 50%;
    padding: 10px 5px;
  }
  
  .desc-list > li + li {
    margin-top: 90px;
  }
  
  .desc-list .list-text span {
    font-size: 24px;
  }
  
  .desc-list .example.performance {
    padding: 20px;
  }
  
  .desc-list .example-list > li {
    padding: 0;
  }
  
  .desc-list .example-list {
    flex-wrap: wrap;
    margin: 0;
  }
  
  .desc-list .example-list > li:first-child {
    margin: 0 auto;
    width: 80%;
  }
  
  .desc-list .example-list > li {
    padding: 0;
  }
  
  .desc-list .example-list > li + li {
    width: 45%;
    margin-top: 30px;
  }
  
  .desc-list .example-list > li + li img {
    width: 100%;
  }
  
  .engineer-list {
    width: 100%;
    display: flex;
    margin-left: 0;
    margin-right: 0;
  }
  
  
  
  
  
  /*////// 4 POTEPAN CAMPの選べるコース //////*/
  
  a.link-button {
    color: #fff;
  }
  
  .hover-text-color {
    transition: 0.2s;
  }
  
  a:hover .hover-text-color, .hover-text-color:hover {
    color: #f79314;
  }
  
  .section-main-heading {
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
  }
  
  .section-header h2 > span {
    letter-spacing: 1px;
    font-size: 30px;
  }
  
  .section-header h2 > span, .section-main-heading span {
    font-size: 30px;
  }
  
  .section-sub-heading {
    font-size: 14px;
  }
  
  .main-section.top-potepan .section-content {
    padding-left: 0;
    padding-right: 0;
  }
  
  .main-section.top-potepan .section-content {
    margin-top: 50px;
  }
  
  .main-section .section-header + .section-content {
    margin-top: 50px;
  }
  
  .main-section.top-potepan .course-list {
    padding: 0 20px;
  }
  
  .course-media {
    flex-direction: column;
    padding: 20px;
  }
  
  .course-title {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 120px;
    margin-top: -40px;
  }
  
  .course-title > .h3-1 {
    font-size: 20px;
  }
  
  .course-contents {
    width: 100%;
    margin-top: 25px;
    padding-right: 0;
  }
  
  .course-text {
    line-height: 1.5;
  }
  
  .course-contents > div {
    margin-top: 25px;
  }
  
  .conditions-list {
    width: 100%;
    margin-top: 15px;
    padding-bottom: 0;
  }
  
  .course-link {
    position: static;
    text-align: right;
    margin-top: 25px;
    padding-right: 20px;
  }
  
  .course-link::after {
    right: 0;
  }
  
  .section-button {
    margin-top: 40px;
    max-width: 250px;
  }
  
  .link-button {
    font-size: 20px;
  }
  
  .link-button span:last-child {
    font-size: 12px;
  }
  
  
  
  /*////// 6 受講生の声 //////*/
  
  .interview-list {
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .interview-media .interview-thumbnail-titlebox {
    padding: 50px 10px 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0));
  }
  
  .interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle > *:last-child {
    margin-left: 0;
  }
  
  .interview-thumbnail-subtitle::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 13px;
    right: 13px;
    border-right: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(45deg);
  }
  
  .interview-thumbnail-subtitle {
    display: flex;
    flex-direction: column;
  }
  
  
  
  /*////// 7 POTEPANが運用するサービス //////*/
  
  .service-media-thumbnail img {
    max-width: 280px;
  }
  
  .service-list > li + li {
    margin-top: 40px;
  }
  
  .service-list > li {
    width: 100%;
  }
  
  .service-list {
    flex-direction: column;
  }
  
  .service-media-thumbnail {
    justify-content: center;
  }
  
  
  
  
  
  
  /*footer*/
  
  .site-footer {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  
  .site-footer-main {
    display: block;
    text-align: center;
  }
  
  .page-top-button {
    right: 20px;
    top: -85px;
  }
  
  .site-footer-main .footer-nav {
    text-align: left;
    margin-left: 20px;
  }
  
  .site-footer-main * + .footer-character {
    margin-top: 50px;
  }
  
  .site-footer-main * + .footer-info {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #fff;
  }
  
  .footer-info .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer-info .footer-company, .footer-info .footer-address {
    text-align: center;
  }
  
  .footer-info .footer-social {
    justify-content: center;
  }
  
  .site-footer-sub {
    text-align: center;
  }
  
}



@media screen and (max-width: 414px) {
  .section-top .top-section-text {
    text-align: center;
  }
    
  .top-section-box .No1-notation {
    top: -98px;
    left: -24px;
  }
      
  .No1-notation > img {
    width: 88px;
    height: 88px;
  }
  
  .top-section-box .No1-notation {
    top: -105px;
    right: 0;
    left: -5px;
  }
}

